@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');


:root {
    --primary-color :#52489c;
    --primary-dark: #1F252E;   
}

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family:'outfit', sans-serif;
    background: #fff;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
}

/* genral */
.container {
    padding: 0 8.4rem;
}

.img-w {
    width: 100%;
    height: auto;
}

/* nav*/
header {
    box-sizing: 0 4px 17px rgba(0,0,0,.1);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
}

.logo a{
    color: #000;
    text-decoration: none;
}
ul {
    display: flex;
    gap: 0.6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}
li a {
    display: inline-block;
    padding: 0.3rem 1rem;
    color: #000;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: 0.7px;
    border-radius: 36px;
    line-height: 2;
    opacity: 0;
    animation: navani 0.3s ease forwards;
    animation-delay: calc(0.15s *var(--navAni));
}
li a.active,
li a:hover {
    color: var(--primary-color);
}

#click {
    display: none;
}
.menu {
    display: none;
}